{% extends 'base.html' %}

{% block title %}
archiveReport
{% endblock %}


{% block content %}
<div class="text-center">
    <h1 class="h2 mb-3 font-weight-normal">archiveReport</h1>
    <div class="container">

        <form method="POST" class="form-register" style="color:white" novalidate>

            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.title.label() }}
                    </td>
                    <td>
                        {{ form.title(class="form-control" , placeholder = 'title') }}
                        <small class="form-text text-danger">{{ form.title.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.description.label() }}
                    </td>
                    <td>
                        {{ form.description(class="form-control" , placeholder = 'description') }}
                        <small class="form-text text-danger">{{ form.description.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.deviceIP.label() }}
                    </td>
                    <td>
                        {{ form.deviceIP(class="form-select" , placeholder = 'deviceIP') }}
                        <small class="form-text text-danger">{{ form.deviceIP.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.deviceName.label() }}
                    </td>
                    <td>
                        {{ form.deviceName(class="form-select" , placeholder = 'deviceName') }}
                        <small class="form-text text-danger">{{ form.deviceName.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.addInfo.label() }}
                    </td>
                    <td>
                        {{ form.addInfo(class="form-select" , placeholder = 'addInfo') }}
                        <small class="form-text text-danger">{{ form.addInfo.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.type.label() }}
                    </td>
                    <td>
                        {{ form.type(class="form-select" , placeholder = 'type') }}
                        <small class="form-text text-danger">{{ form.type.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.avgOrSum.label() }}
                    </td>
                    <td>
                        {{ form.avgOrSum(class="form-select" , placeholder = 'avgOrSum') }}
                        <small class="form-text text-danger">{{ form.avgOrSum.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.timerRangeHours.label() }}
                    </td>
                    <td>
                        {{ form.timerRangeHours(class="form-select" , placeholder = 'timerRangeHours') }}
                        <small class="form-text text-danger">{{ form.timerRangeHours.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.quantityValues.label() }}
                    </td>
                    <td>
                        {{ form.quantityValues(class="form-select" , placeholder = 'quantityValues') }}
                        <small class="form-text text-danger">{{ form.quantityValues.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.minValue.label() }}
                    </td>
                    <td>
                        {{ form.minValue(class="form-control" , placeholder = 'minValue') }}
                        <small class="form-text text-danger">{{ form.minValue.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.okMinValue.label() }}
                    </td>
                    <td>
                        {{ form.okMinValue(class="form-control" , placeholder = 'okMinValue') }}
                        <small class="form-text text-danger">{{ form.okMinValue.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.okMaxValue.label() }}
                    </td>
                    <td>
                        {{ form.okMaxValue(class="form-control" , placeholder = 'okMaxValue') }}
                        <small class="form-text text-danger">{{ form.okMaxValue.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.maxValue.label() }}
                    </td>
                    <td>
                        {{ form.maxValue(class="form-control" , placeholder = 'maxValue') }}
                        <small class="form-text text-danger">{{ form.maxValue.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>


    </div>
</div>
{% endblock %}