{% extends 'base.html' %}

{% block title %}
AquaDriver - Archive
{% endblock %}


{% block content %}
<h1>Archive</h1>
<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseExample">
        Search
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST">
            <form method="POST" class="form-register" style="color:white" novalidate>

                {{ form.hidden_tag() }}

                {{ form.limit.label() }}
                {{ form.limit(class="form-control" , placeholder = 'limit:') }}
                <small class="form-text text-danger">{{ form.limit.errors[0] }}</small>

                {{ form.timestampStart.label() }}
                {{ form.timestampStart(class="form-control" , value = formatedMinusOneDayDate) }}
                <small class="form-text text-danger">{{ form.timestampStart.errors[0] }}</small>

                {{ form.timestampEnd.label() }}
                {{ form.timestampEnd(class="form-control" , value = formatedCurrentDate) }}
                <small class="form-text text-danger">{{ form.timestampEnd.errors[0] }}</small>

                {{ form.recordType.label() }}
                {{ form.recordType(class="form-control" , placeholder = 'recordType:', size=10) }}
                <small class="form-text text-danger">{{ form.recordType.errors[0] }}</small>

                <br>

                {{ form.submit(class="btn btn-lg btn-block btn-primary w-100") }}

            </form>
    </div>
</br>
</div>

<table id="sortingTable" class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th data-col="id">#</th>
            <th data-col="timestamp">Timestamp</th>
            <th data-col="requestID">requestID</th>
            <th data-col="deviceIP">Device IP</th>
            <th data-col="deviceName">Device Name</th>
            <th data-col="addInfo">Additional Info</th>
            <th data-col="value">Value</th>
            <th data-col="type">Type</th>
            <th data-col="comment">Comment</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for archiveRow in archive %}
        <tr>
            <td>{{archiveRow.id}}</td>
            <td>{{datetime.fromtimestamp(archiveRow.timestamp).strftime("%Y-%m-%d %H:%M:%S")}}</td>
            <td>{{archiveRow.requestID}}</td>
            <td>{{archiveRow.deviceIP}}</td>
            <td>{{archiveRow.deviceName}}</td>
            <td>{{archiveRow.addInfo}}</td>
            <td>{{archiveRow.value}}</td>
            <td>{{archiveRow.type}}</td>
            <td>{{archiveRow.comment}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('archive_remove',id=archiveRow.id)}}" class="btn btn-danger btn-lg active"
                        role="button" aria-pressed="true">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}