{% extends 'base.html' %}

{% block title %}
AquaDriver - Archive Report List
{% endblock %}


{% block content %}
<h1>Archive Report List</h1>
<table id="sortingTable" class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>queryString</th>
            <th>Min - OK_Min - OK_Max - Max</th>
            <th>unit</th>
            <th>message</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for archiveReportRow in table %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ archiveReportRow.reportName }}</td>
            <td>{{ archiveReportRow.reportDescription }}</td>
            <td class="text-truncate-custom" data-bs-toggle="tooltip" data-bs-placement="top"
                title="{{ archiveReportRow.queryString }}">
                <code>{{ archiveReportRow.queryString }}</code>
            </td>
            <td>{{ archiveReportRow.minValue }} - {{ archiveReportRow.okMinValue }} - {{ archiveReportRow.okMaxValue }}
                - {{ archiveReportRow.maxValue }}</td>
            <td>{{ archiveReportRow.unit }}</td>
            <td>{{ archiveReportRow.message }}</td>
            <td>
                <a href="{{ url_for('get_report', reportName=archiveReportRow.reportName) }}"
                    class="btn btn-success btn-sm">Open</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</table>
{% endblock %}