{% extends 'base.html' %}

{% block title %}
AquaDriver - Archive Report List
{% endblock %}


{% block content %}
<h1>Archive Report List</h1>
<p>
    <a href="{{ url_for('config_reports') }}" class="btn btn-primary w-100">Edytuj konfigurację raportów (JSON)</a>
</p>
<table id="sortingTable" class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th>#</th>
            <th>Report Name</th>
            <th>Description</th>
            <th>queryString</th>
            <th>Min Value</th>
            <th>OK Min Value</th>
            <th>OK Max Value</th>
            <th>Max Value</th>
            <th>unit</th>
            <th>reportGroupId</th>
            <th>message</th>
            <th>status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for archiveReportRow in table %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ archiveReportRow.reportName }}</td>
            <td>{{ archiveReportRow.reportDescription }}</td>
            <td>{{ archiveReportRow.queryString }}</td>
            <td>{{ archiveReportRow.minValue }}</td>
            <td>{{ archiveReportRow.okMinValue }}</td>
            <td>{{ archiveReportRow.okMaxValue }}</td>
            <td>{{ archiveReportRow.maxValue }}</td>
            <td>{{ archiveReportRow.unit }}</td>
            <td>{{ archiveReportRow.reportGroupId }}</td>
            <td>{{ archiveReportRow.message }}</td>
            <td>{{ archiveReportRow.status }}</td>
            <td>
                <a href="{{ url_for('get_report', reportName=archiveReportRow.reportName) }}"
                    class="btn btn-success btn-sm">Open</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</table>
{% endblock %}