{% extends 'base.html' %}

{% block title %}
chart maker
{% endblock %}

{% block content %}

<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseExample">
        chart maker
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST">
            <form method="POST" class="form-register" style="color:white" novalidate>

                {{ form.hidden_tag() }}

                {{ form.limit.label() }}
                {{ form.limit(class="form-control" , placeholder = 'limit:') }}
                <small class="form-text text-danger">{{ form.limit.errors[0] }}</small>

                {{ form.timestampStart.label() }}
                {{ form.timestampStart(class="form-control" , value = formatedMinusOneDayDate) }}
                <small class="form-text text-danger">{{ form.timestampStart.errors[0] }}</small>

                {{ form.timestampEnd.label() }}
                {{ form.timestampEnd(class="form-control" , value = formatedCurrentDate) }}
                <small class="form-text text-danger">{{ form.timestampEnd.errors[0] }}</small>

                {{ form.recordType.label() }}
                {{ form.recordType(class="form-control" , placeholder = 'recordType:', size=10) }}
                <small class="form-text text-danger">{{ form.recordType.errors[0] }}</small>

                <br>

                {{ form.submit(class="btn btn-lg btn-block btn-primary w-100") }}

            </form>
    </div>
</div>
</br>


<h1>charts</h1>
<table class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th scope="col">date</th>
            <th scope="col">value</th>
        </tr>
    </thead>
    <tbody>
        {% for date in final_chart %}
        <tr>
            <th>{{date}}</th>
            <td>{{final_chart[date]}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}