{% extends 'base.html' %}

{% block title %}
AquaDriver - Job Page
{% endblock %}


{% block content %}
<h2>Dashboard List</h2>

<table id="sortingTable" class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th>ItemId</th>
            <th>Name</th>
            <th>Type</th>
            <th>Code</th>
            <th>Location</th>
            <th>Background</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for dashboardItem in table %}
        <tr>
            <td>{{dashboardItem.panelItemId}}</td>
            <td>{{dashboardItem.panelName}}</td>
            <td>{{dashboardItem.panelType}}</td>
            <td>{{dashboardItem.panelCode}}</td>
            <td>{{dashboardItem.panelLocation}}</td>
            <td>{{dashboardItem.panelBackground}}</td>
            <td>{{dashboardItem.panelStatus}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}