{% extends 'base.html' %}

{% block title %}
AquaDriver - Job Page
{% endblock %}


{% block content %}
<table>
    <thead>
        <tr>
            <th data-col="id">#</th>
            <th data-col="panelItemId">panelItemId</th>
            <th data-col="panelName">panelName</th>
            <th data-col="panelName">panelType</th>
            <th data-col="panelCode">panelCode</th>
            <th data-col="panelCode">panelLocation</th>
            <th data-col="panelCode">panelBackground</th>
            <th data-col="panelCode">panelStatus</th>
        </tr>
    </thead>
    <tbody>
        {% for dashboardItem in table %}
        <tr>
            <th scope="row">{{dashboardItem.id}}</th>
            <td>{{dashboardItem.panelItemId}}</td>
            <td>{{dashboardItem.panelName}}</td>
            <td>{{dashboardItem.panelType}}</td>
            <td>{{dashboardItem.panelCode}}</td>
            <td>{{dashboardItem.panelLocation}}</td>
            <td>{{dashboardItem.panelBackground}}</td>
            <td>{{dashboardItem.panelStatus}}</td>

            </div>
            {% endfor %}
</table>
{% endblock %}