{% extends 'base.html' %}

{% block title %}
AquaDriver - Job Page
{% endblock %}


{% block content %}


    <h2>Podgląd z ESP32</h2>
    <img src="{{ url_for('video_feed') }}" width="640">


<div class="row row-cols-1 row-cols-md-3 g-4 me-2">
    {% for dashboardItem in dashboardList %}
    {% if dashboardItem.panelStatus == "Ready" %}
    <div class="col">
        <div class="card h-100" style="min-height: 220px ;background-color: {{dashboardItem.panelBackground}};">
            <div class="card-header">
                <h5 class="card-title">{{dashboardItem.panelName}}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    </br> {{dashboardItem.panelCode | safe}}</br>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

</br></br></br></br></br></br></br></br></br></br></br>
<table>
    <thead>
        <tr>
            <th data-col="id">#</th>
            <th data-col="panelItemId">panelItemId</th>
            <th data-col="panelName">panelName</th>
            <th data-col="panelName">panelType</th>
            <th data-col="panelCode">panelCode</th>
            <th data-col="panelCode">panelLocation</th>
            <th data-col="panelCode">panelBackground</th>
            <th data-col="panelCode">panelStatus</th>
        </tr>
    </thead>
    <tbody>
        {% for dashboardItem in dashboardList %}
        <tr>
            <th scope="row">{{dashboardItem.id}}</th>
            <td>{{dashboardItem.panelItemId}}</td>
            <td>{{dashboardItem.panelName}}</td>
            <td>{{dashboardItem.panelType}}</td>
            <td>{{dashboardItem.panelCode}}</td>
            <td>{{dashboardItem.panelLocation}}</td>
            <td>{{dashboardItem.panelBackground}}</td>
            <td>{{dashboardItem.panelStatus}}</td>

            </div>
            {% endfor %}
</table>
{% endblock %}