{% extends 'base.html' %}

{% block title %}
devicesList
{% endblock %}

{% block content %}

<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseExample">
        Add device
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <th>
                        {{ form.deviceName.label() }}
                    </th>
                    <td>
                        {{ form.deviceName(class="form-control" , placeholder = 'deviceName') }}
                        <small class="form-text text-danger">{{ form.deviceName.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.deviceIP.label() }}
                    </td>
                    <td>
                        {{ form.deviceIP(class="form-control" , placeholder = 'deviceIP') }}
                        <small class="form-text text-danger">{{ form.deviceIP.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.deviceStatus.label() }}
                    </td>
                    <td>
                        {{ form.deviceStatus(class="form-select" , placeholder = 'deviceStatus') }}
                        <small class="form-text text-danger">{{ form.deviceStatus.errors[0] }}</small>
                    </td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-success w-100") }}
        </form>
    </div>
</div>
</br>
<h1>List of devices</h1>
<table class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">device</br>IP</th>
            <th scope="col">device</br>Name</th>
            <th scope="col">device</br>Status</th>
            <th scope="col">actions</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <th>{{device.id}}</th>
            <td>{{device.deviceIP}}</td>
            <td>{{device.deviceName}}</td>
            <td>{{device.deviceStatus}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('device_remove',id=device.id)}}" class="btn btn-danger btn-lg active"
                        role="button" aria-pressed="true">Remove</a>
                    <a href="{{url_for('change_device_status',id=device.id)}}" class="btn btn-warning btn-lg active"
                        role="button" aria-pressed="true">Change
                        Status</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}