{% extends 'base.html' %}

{% block title %}
deviceAdd
{% endblock %}


{% block content %}
<div class="text-center">
    <h1 class="h2 mb-3 font-weight-normal">deviceAdd</h1>
    <div class="container">

        <form method="POST" class="form-register" style="color:white" novalidate>

            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.deviceName.label() }}
                    </td>
                    <td>
                        {{ form.deviceName(class="form-control" , placeholder = 'deviceName:') }}
                        <small class="form-text text-danger">{{ form.deviceName.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.deviceIP.label() }}
                    </td>
                    <td>
                        {{ form.deviceIP(class="form-control" , placeholder = 'deviceIP:') }}
                        <small class="form-text text-danger">{{ form.deviceIP.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.deviceDescription.label() }}
                    </td>
                    <td>
                        {{ form.deviceDescription(class="form-control" , placeholder = 'deviceDescription:') }}
                        <small class="form-text text-danger">{{ form.deviceDescription.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.deviceStatus.label() }}
                    </td>
                    <td>
                        {{ form.deviceStatus(class="form-select" , placeholder = 'deviceStatus:') }}
                        <small class="form-text text-danger">{{ form.deviceStatus.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td  colspan="2"></td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>


    </div>
</div>
{% endblock %}