{% extends 'base.html' %}

{% block title %}
AquaDriver - Device List
{% endblock %}

{% block content %}
<h1>Device List</h1>
<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseExample">
        Add device
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <th>
                        {{ form.deviceSSL.label() }}
                    </th>
                    <td>
                        {{ form.deviceSSL(class="form-select", placeholder='SSL') }}
                        <small class="form-text text-danger">{{ form.deviceSSL.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.deviceIP.label() }}
                    </th>
                    <td>
                        {{ form.deviceIP(class="form-control", placeholder='IP Address') }}
                        <small class="form-text text-danger">{{ form.deviceIP.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.devicePort.label() }}
                    </th>
                    <td>
                        {{ form.devicePort(class="form-control", placeholder='Port') }}
                        <small class="form-text text-danger">{{ form.devicePort.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.deviceProtocol.label() }}
                    </th>
                    <td>
                        {{ form.deviceProtocol(class="form-select", placeholder='Protocol') }}
                        <small class="form-text text-danger">{{ form.deviceProtocol.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.deviceName.label() }}
                    </th>
                    <td>
                        {{ form.deviceName(class="form-control", placeholder='Device Name') }}
                        <small class="form-text text-danger">{{ form.deviceName.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.deviceToScan.label() }}
                    </th>
                    <td>
                        {{ form.deviceToScan(class="form-select", placeholder='To Scan') }}
                        <small class="form-text text-danger">{{ form.deviceToScan.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.deviceStatus.label() }}
                    </th>
                    <td>
                        {{ form.deviceStatus(class="form-select", placeholder='Status') }}
                        <small class="form-text text-danger">{{ form.deviceStatus.errors[0] }}</small>
                    </td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-success w-100") }}
        </form>
    </div>
    </br>
</div>
<table id="sortingTable" class="table table-dark table-striped align-middle">
    <thead>
        <tr>
      <th data-col="id">#</th>
      <th data-col="deviceSSL">SSL</th>
      <th data-col="deviceIP">IP</th>
      <th data-col="devicePort">Port</th>
      <th data-col="deviceProtocol">Protocol</th>
      <th data-col="deviceToScan">To Scan</th>
      <th data-col="deviceName">Name</th>
      <th data-col="deviceStatus">Status</th>
      <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <th>{{device.id}}</th>
            <th>{{device.deviceSSL}}</th>
            <td>{{device.deviceIP}}</td>
            <td>{{device.devicePort}}</td>
            <td>{{device.deviceProtocol}}</td>
            <td>{{device.deviceToScan}}</td>
            <td>{{device.deviceName}}</td>
            <td>{{device.deviceStatus}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('device_remove',id=device.id)}}" class="btn btn-danger btn-lg active"
                        role="button" aria-pressed="true">Remove</a>
                    <a href="{{url_for('device_change_status',id=device.id)}}" class="btn btn-warning btn-lg active"
                        role="button" aria-pressed="true">Change Status</a>
                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                        data-bs-target="#editDeviceModal{{ device.id }}">
                        Edit
                    </button>
                </div>
            </td>
        </tr>
        <!-- Modal for Editing Device -->
        <div class="modal fade" id="editDeviceModal{{ device.id }}" tabindex="-1"
            aria-labelledby="editDeviceModalLabel{{ device.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editDeviceModalLabel{{ device.id }}">Edit Device</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="{{ url_for('device_edit', id=device.id) }}">
                        <div class="modal-body">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ form.deviceSSL.label(class="form-label") }}
                                {{ form.deviceSSL(class="form-select", value=device.deviceSSL) }}
                                <small class="form-text text-danger">{{ form.deviceSSL.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.deviceIP.label(class="form-label") }}
                                {{ form.deviceIP(class="form-control", value=device.deviceIP) }}
                                <small class="form-text text-danger">{{ form.deviceIP.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.devicePort.label(class="form-label") }}
                                {{ form.devicePort(class="form-control", value=device.devicePort) }}
                                <small class="form-text text-danger">{{ form.devicePort.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.deviceProtocol.label(class="form-label") }}
                                {{ form.deviceProtocol(class="form-select", value=device.deviceProtocol) }}
                                <small class="form-text text-danger">{{ form.deviceProtocol.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.deviceName.label(class="form-label") }}
                                {{ form.deviceName(class="form-control", value=device.deviceName) }}
                                <small class="form-text text-danger">{{ form.deviceName.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.deviceToScan.label(class="form-label") }}
                                {{ form.deviceToScan(class="form-select", value=device.deviceToScan) }}
                                <small class="form-text text-danger">{{ form.deviceToScan.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.deviceStatus.label(class="form-label") }}
                                {{ form.deviceStatus(class="form-select", value=device.deviceStatus) }}
                                <small class="form-text text-danger">{{ form.deviceStatus.errors[0] }}</small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            {{ form.submit(class="btn btn-success", label="Save Changes") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>


        {% endfor %}
    </tbody>
</table>
{% endblock %}