{% extends 'base.html' %}

{% block title %}
Event List
{% endblock %}


{% block content %}
<h1>Event List</h1>
<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseExample">
        Add function
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST" class="form-register" style="color:white" novalidate>
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.deviceId.label() }}
                    </td>
                    <td>
                        {{ form.deviceId(class="form-select" , placeholder = 'deviceId') }}
                        <small class="form-text text-danger">{{ form.deviceId.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.eventDescription.label() }}
                    </td>
                    <td>
                        {{ form.eventDescription(class="form-control" , placeholder = 'eventDescription') }}
                        <small class="form-text text-danger">{{ form.eventDescription.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.eventLink.label() }}
                    </td>
                    <td>
                        {{ form.eventLink(class="form-control" , placeholder = 'eventLink') }}
                        <small class="form-text text-danger">{{ form.eventLink.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.eventStatus.label() }}
                    </td>
                    <td>
                        {{ form.eventStatus(class="form-select" , placeholder = 'eventStatus') }}
                        <small class="form-text text-danger">{{ form.eventStatus.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</div>
<table class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Device</br>IP</th>
            <th scope="col">Device</br>Name</th>
            <th scope="col">Event</br>Link</th>
            <th scope="col">Event</br>Description</th>
            <th scope="col">Event</br>Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for devicesFunction in Events %}
        <tr>
            <th scope="row">{{devicesFunction.id}}</th>
            <td>{{devices[devicesFunction.deviceId-1].deviceIP}}</td>
            <td>{{devices[devicesFunction.deviceId-1].deviceName}}</td>
            <td>{{devicesFunction.eventLink}}</td>
            <td>{{devicesFunction.eventDescription}}</td>
            <td>{{devicesFunction.eventStatus}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('device_functions_remove', id = devicesFunction.id)}}"
                        class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Remove</a>
                    <a href="{{url_for('change_device_functions_status', id = devicesFunction.id)}}"
                        class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Status</a>
                    <a href="{{url_for('event_list_link_creator', id = devicesFunction.id)}}"
                        class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Link</a>
                    <a href="{{url_for('event_list_web_content_collector', id = devicesFunction.id)}}"
                        class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Open</a>
                </div>
            </td>
        </tr>
        {% endfor %}
</table>
{% endblock %}