{% extends 'base.html' %}

{% block title %}
AquaDriver - Event List
{% endblock %}

{% block content %}
<h2>Event List</h2>

<table id="sortingTable" class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th>#</th>
            <th>Address</th>
            <th>Description</th>
            <th>Type</th>
            <th>ePayload</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for event in table %}
        <tr>
            <td>{{event.eventName}}</td>
            <td>{{event.eventAddress}}</td>
            <td>{{event.eventDescription}}</td>
            <td>{{event.eventType}}</td>
            <td>{{event.eventPayload}}</td>
            <td>{{event.eventStatus}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('event_open', eventName = event.eventName)}}"
                        class="btn btn-success btn-sm">Open</a>
                </div>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}