{% extends 'base.html' %}

{% block title %}
AquaDriver - Event List
{% endblock %}


{% block content %}
<h1>Event List</h1>
<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseForm">
        Add Event Link
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST" class="form-register" style="color:white" novalidate>
            {{ formLink.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ formLink.deviceId.label() }}
                    </td>
                    <td>
                        {{ formLink.deviceId(class="form-select" , placeholder = 'deviceId') }}
                        <small class="form-text text-danger">{{ formLink.deviceId.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ formLink.eventDescription.label() }}
                    </td>
                    <td>
                        {{ formLink.eventDescription(class="form-control" , placeholder = 'eventDescription') }}
                        <small class="form-text text-danger">{{ formLink.eventDescription.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ formLink.eventLink.label() }}
                    </td>
                    <td>
                        {{ formLink.eventLink(class="form-control" , placeholder = 'eventLink') }}
                        <small class="form-text text-danger">{{ formLink.eventLink.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ formLink.eventStatus.label() }}
                    </td>
                    <td>
                        {{ formLink.eventStatus(class="form-select" , placeholder = 'eventStatus') }}
                        <small class="form-text text-danger">{{ formLink.eventStatus.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{ formLink.submitLink(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
    </br>
</div>
<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form1"
        aria-expanded="false" aria-controls="collapseForm2">
        Add Event Report
    </button>
</p>
<div class="collapse" id="form1">
    <div class="card card-body">
        <form method="POST" class="form-register" style="color:white" novalidate>
            {{ formReport.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ formReport.eventDescription.label() }}
                    </td>
                    <td>
                        {{ formReport.eventDescription(class="form-control" , placeholder = 'eventDescription') }}
                        <small class="form-text text-danger">{{ formReport.eventDescription.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ formReport.reportIds.label() }}
                    </td>
                    <td>
                        {{ formReport.reportIds(class="form-select" , placeholder = 'reportIds') }}
                        <small class="form-text text-danger">{{ formReport.reportIds.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ formReport.eventStatus.label() }}
                    </td>
                    <td>
                        {{ formReport.eventStatus(class="form-select" , placeholder = 'eventStatus') }}
                        <small class="form-text text-danger">{{ formReport.eventStatus.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{ formReport.submitReport(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
    </br>
</div>
<table class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Event</br>Type</th>
            <th scope="col">Device</br>IP - Name</th>
            <th scope="col">Event</br>Link</th>
            <th scope="col">Report</br>Ids</th>
            <th scope="col">Event</br>Description</th>
            <th scope="col">Event</br>Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for event in Events %}
        <tr>
            <th scope="row">{{event.id}}</th>
            <td>{{event.eventType}}</th>
            {% if (devices[event.deviceId-1] or not event.deviceId != 0) and devices[event.deviceId-1].deviceStatus != "Old" %}
            {% if event.deviceId != 0 %}
            <td>{{devices[event.deviceId-1].deviceIP}} - {{devices[event.deviceId-1].deviceName}}</td>
            {% else %}
            <td> - </td>
            {% endif %}
            <td>{{event.eventLink}}</td>
            <td>{{event.reportIds}}</td>
            <td>{{event.eventDescription}}</td>
            <td>{{event.eventStatus}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('event_remove', id = event.id)}}" class="btn btn-danger btn-lg active"
                        role="button" aria-pressed="true">Remove</a>
                    <a href="{{url_for('event_change_status', id = event.id)}}" class="btn btn-warning btn-lg active"
                        role="button" aria-pressed="true">Status</a>
                    {% if event.deviceId != 0 %}
                    <a href="{{url_for('event_link_creator', id = event.id)}}" class="btn btn-primary btn-lg active"
                        role="button" aria-pressed="true">Link</a>
                    <a href="{{url_for('event_web_content_collector', id = event.id)}}"
                        class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Open</a>
                    {% endif %}
                    <button type="button" class="btn btn-info btn-lg active" data-bs-toggle="modal" data-bs-target="#editEventModal{{ event.id }}">Edit</button>

                </div>
            </td>
            {% elif devices[event.deviceId-1].deviceStatus == "Old" %}
            <td> Old Device!!! check device with ID {{ event.deviceId-1 }} or remove</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{event.eventStatus}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('event_remove', id = event.id)}}" class="btn btn-danger btn-lg active"
                        role="button" aria-pressed="true">Remove</a>
                </div>
            </td>
            {% else %}
            <td> Device Error!!! check device with ID {{ event.deviceId-1 }} or remove</td>
            <td>{{event.eventLink}}</td>
            <td>{{event.reportIds}}</td>
            <td>{{event.eventDescription}}</td>
            <td>{{event.eventStatus}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('event_remove', id = event.id)}}" class="btn btn-danger btn-lg active"
                        role="button" aria-pressed="true">Remove</a>
                </div>
            </td>
            {% endif %}
        </tr>
                <!-- Modal -->
        <div class="modal fade" id="editEventModal{{ event.id }}" tabindex="-1" aria-labelledby="editEventModalLabel{{ event.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editEventModalLabel{{ event.id }}">Edit Event {{ event.id }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="{{ url_for('event_edit', id=event.id) }}">
                        <div class="modal-body">
                            {% if event.eventType == 'Link' %}
                            {{ formLink.hidden_tag() }}
                            <div class="mb-3">
                                {{ formLink.deviceId.label(class="form-label") }}
                                {{ formLink.deviceId(class="form-select", value=event.deviceId) }}
                                <small class="form-text text-danger">{{ formLink.deviceId.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ formLink.eventDescription.label(class="form-label") }}
                                {{ formLink.eventDescription(class="form-control", value=event.eventDescription) }}
                                <small class="form-text text-danger">{{ formLink.eventDescription.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ formLink.eventLink.label(class="form-label") }}
                                {{ formLink.eventLink(class="form-control", value=event.eventLink) }}
                                <small class="form-text text-danger">{{ formLink.eventLink.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ formLink.eventStatus.label(class="form-label") }}
                                {{ formLink.eventStatus(class="form-select", value=event.eventStatus) }}
                                <small class="form-text text-danger">{{ formLink.eventStatus.errors[0] }}</small>
                            </div>
                            {% elif event.eventType == 'Report' %}
                            {{ formReport.hidden_tag() }}
                            <div class="mb-3">
                                {{ formReport.eventDescription.label(class="form-label") }}
                                {{ formReport.eventDescription(class="form-control", value=event.eventDescription) }}
                                <small class="form-text text-danger">{{ formReport.eventDescription.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ formReport.reportIds.label(class="form-label") }}
                                {{ formReport.reportIds(class="form-select", value=event.reportIds.split(',')) }}
                                <small class="form-text text-danger">{{ formReport.reportIds.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ formReport.eventStatus.label(class="form-label") }}
                                {{ formReport.eventStatus(class="form-select", value=event.eventStatus) }}
                                <small class="form-text text-danger">{{ formReport.eventStatus.errors[0] }}</small>
                            </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
</table>
{% endblock %}