{% extends 'base.html' %}

{% block title %}
AquaDriver - Event List
{% endblock %}


{% block content %}
<h1>Event List</h1>
<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseForm">
        Add Event Link
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST" class="form-register" style="color:white" novalidate>
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.eventAddress.label() }}
                    </td>
                    <td>
                        {{ form.eventAddress(class="form-control" , placeholder = 'eventAddress') }}
                        <small class="form-text text-danger">{{ form.eventAddress.errors[0] }}</small>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        {{ form.eventDescription.label() }}
                    </td>
                    <td>
                        {{ form.eventDescription(class="form-control" , placeholder = 'eventDescription') }}
                        <small class="form-text text-danger">{{ form.eventDescription.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.eventPayload.label() }}
                    </td>
                    <td>
                        {{ form.eventPayload(class="form-control" , placeholder = 'eventPayload') }}
                        <small class="form-text text-danger">{{ form.eventPayload.errors[0] }}</small>
                    </td>
                </tr>                <tr>
                    <td>
                        {{ form.eventGroupId.label() }}
                    </td>
                    <td>
                        {{ form.eventGroupId(class="form-control" , placeholder = 'eventGroupId') }}
                        <small class="form-text text-danger">{{ form.eventGroupId.errors[0] }}</small>
                    </td>
                </tr> 
                </tr>                <tr>
                    <td>
                        {{ form.eventStatus.label() }}
                    </td>
                    <td>
                        {{ form.eventStatus(class="form-select" , placeholder = 'eventStatus') }}
                        <small class="form-text text-danger">{{ form.eventStatus.errors[0] }}</small>
                    </td>
                </tr> 

                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
    </br>
</div>
<table id="sortingTable" class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th data-col="id">#</th>
            <th data-col="eventAddress">eventAddress</th>
            <th data-col="eventDescription">eventDescription</th>
            <th data-col="eventPayload">eventPayload</th>
            <th data-col="eventGroupId">eventGroupId</th>
            <th data-col="eventStatus">eventStatus</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for event in Events %}
        <tr>
            <th scope="row">{{event.id}}</th>
            <td>{{event.eventAddress}}</td>
            <td>{{event.eventDescription}}</td>
            <td>{{event.eventPayload}}</td>
            <td>{{event.eventGroupId}}</td>
            <td>{{event.eventStatus}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('event_remove', id = event.id)}}" class="btn btn-danger btn-lg active"
                        role="button" aria-pressed="true">Remove</a>
                    <a href="{{url_for('event_change_status', id = event.id)}}" class="btn btn-warning btn-lg active"
                        role="button" aria-pressed="true">Status</a>
                    <a href="{{url_for('event_open', id = event.id)}}" class="btn btn-success btn-lg active"
                        role="button" aria-pressed="true">Open</a>
                    <button type="button" class="btn btn-info btn-lg active" data-bs-toggle="modal" data-bs-target="#editEventModal{{ event.id }}">Edit</button>
                </div>
            </td>
        </tr>
                <!-- Modal -->
        <div class="modal fade" id="editEventModal{{ event.id }}" tabindex="-1" aria-labelledby="editEventModalLabel{{ event.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editEventModalLabel{{ event.id }}">Edit Event {{ event.id }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="{{ url_for('event_edit', id=event.id) }}">
                        <div class="modal-body">
  
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ form.eventAddress.label(class="form-label") }}
                                {{ form.eventAddress(class="form-control", value=event.eventAddress) }}
                                <small class="form-text text-danger">{{ form.eventAddress.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.eventDescription.label(class="form-label") }}
                                {{ form.eventDescription(class="form-control", value=event.eventDescription) }}
                                <small class="form-text text-danger">{{ form.eventDescription.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.eventPayload.label(class="form-label") }}
                                {{ form.eventPayload(class="form-control", value=event.eventPayload) }}
                                <small class="form-text text-danger">{{ form.eventPayload.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.eventGroupId.label(class="form-label") }}
                                {{ form.eventGroupId(class="form-control", value=event.eventGroupId) }}
                                <small class="form-text text-danger">{{ form.eventGroupId.errors[0] }}</small>
                            </div>
                            <div class="mb-3">
                                {{ form.eventStatus.label(class="form-label") }}
                                {{ form.eventStatus(class="form-control", value=event.eventStatus) }}
                                <small class="form-text text-danger">{{ form.eventStatus.errors[0] }}</small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
</table>
{% endblock %}