{% extends 'base.html' %}

{% block title %}
functions_list
{% endblock %}


{% block content %}
<div class="text-center">
    <h1 class="h2 mb-3 font-weight-normal">functions_list</h1>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-dark" style="width: 100%">
                <tr>
                    <th>id</th>
                    <th>deviceId</th>
                    <th>deviceIP</th>
                    <th>deviceName</th>
                    <th>jobType</th>
                    <th>actionLink</th>
                    <th>functionDescription</th>
                    <th>functionParameters</th>
                    <th>action</th>
                </tr>
                {% for devicesFunction in devicesFunctions %}
                <tr>
                    <td>{{devicesFunction.id}}</td>
                    <td>{{devicesFunction.deviceId}}</td>
                    <td>{{devices[devicesFunction.deviceId-1].deviceIP}}</td>
                    <td>{{devices[devicesFunction.deviceId-1].deviceName}}</td>
                    <td>{{devicesFunction.jobType}}</td>
                    <td>{{devicesFunction.actionLink}}</td>
                    <td>{{devicesFunction.functionDescription}}</td>
                    <td>{{devicesFunction.functionParameters}}</td>
                    <td>
                        <div class="btn-group">
                            {% if devicesFunction.jobType == "jobExecutor" %}
                            <a href="{{url_for('functions_list_link_creator', id = devicesFunction.id)}}"
                                class="btn btn-primary btn-lg active" role="button" aria-pressed="true">link</a>
                            <a href="{{url_for('functions_list_link_creator_test_exec', id = devicesFunction.id)}}"
                                class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Exec</a>
                            {% elif devicesFunction.jobType == "jobCollector" %}
                            <a href="{{url_for('functions_list_link_creator', id = devicesFunction.id)}}"
                                class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Link</a>
                            <a href="{{url_for('functions_list_link_creator_test_coll', id = devicesFunction.id)}}"
                                class="btn btn-info btn-lg active" role="button" aria-pressed="true">Coll</a>
                            {% else %}
                            <a href="#"
                                class="btn btn-muted btn-lg active" role="button" aria-pressed="true">Job Error</a>
                            {% endif %}

                        </div>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
{% endblock %}