{% extends 'base.html' %}

{% block title %}
functionAdd
{% endblock %}


{% block content %}
<div class="text-center">
    <h1 class="h2 mb-3 font-weight-normal">functionAdd</h1>
    <div class="container">

        <form method="POST" class="form-register" style="color:white" novalidate>

            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.deviceId.label() }}
                    </td>
                    <td>
                        {{ form.deviceId(class="form-select" , placeholder = 'deviceId:') }}
                        <small class="form-text text-danger">{{ form.deviceId.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.actionLink.label() }}
                    </td>
                    <td>
                        {{ form.actionLink(class="form-control" , placeholder = 'actionLink:') }}
                        <small class="form-text text-danger">{{ form.actionLink.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.functionDescription.label() }}
                    </td>
                    <td>
                        {{ form.functionDescription(class="form-control" , placeholder = 'functionDescription:') }}
                        <small class="form-text text-danger">{{ form.functionDescription.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.functionParameters.label() }}
                    </td>
                    <td>
                        {{ form.functionParameters(class="form-control" , placeholder = 'functionParameters:') }}
                        <small class="form-text text-danger">{{ form.functionParameters.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.functionStatus.label() }}
                    </td>
                    <td>
                        {{ form.functionStatus(class="form-select" , placeholder = 'functionStatus:') }}
                        <small class="form-text text-danger">{{ form.functionStatus.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>


    </div>
</div>
{% endblock %}