{% extends 'base.html' %}

{% block title %}
functions_list
{% endblock %}


{% block content %}
<h1 class="h2 mb-3 font-weight-normal">functionAdd</h1>
<div class="container">
    <form method="POST" class="form-register" style="color:white" novalidate>
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>
                    {{ form.deviceId.label() }}
                </td>
                <td>
                    {{ form.deviceId(class="form-select" , placeholder = 'deviceId') }}
                    <small class="form-text text-danger">{{ form.deviceId.errors[0] }}</small>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.functionDescription.label() }}
                </td>
                <td>
                    {{ form.functionDescription(class="form-control" , placeholder = 'functionDescription') }}
                    <small class="form-text text-danger">{{ form.functionDescription.errors[0] }}</small>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.actionLink.label() }}
                </td>
                <td>
                    {{ form.actionLink(class="form-control" , placeholder = 'actionLink') }}
                    <small class="form-text text-danger">{{ form.actionLink.errors[0] }}</small>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.functionParameters.label() }}
                </td>
                <td>
                    {{ form.functionParameters(class="form-control" , placeholder = 'functionParameters') }}
                    <small class="form-text text-danger">{{ form.functionParameters.errors[0] }}</small>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.functionStatus.label() }}
                </td>
                <td>
                    {{ form.functionStatus(class="form-select" , placeholder = 'functionStatus') }}
                    <small class="form-text text-danger">{{ form.functionStatus.errors[0] }}</small>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>
<h1>functions_list</h1>
<div class="table-responsive">
    <table class="table table-dark table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">device</br>Id</th>
                <th scope="col">device</br>IP</th>
                <th scope="col">device</br>Name</th>
                <th scope="col">action</br>Link</th>
                <th scope="col">function</br>Description</th>
                <th scope="col">function</br>Parameters</th>
                <th scope="col">function</br>Status</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            {% for devicesFunction in devicesFunctions %}
            <tr>
                <th scope="row">{{devicesFunction.id}}</th>
                <td>{{devicesFunction.deviceId}}</td>
                <td>{{devices[devicesFunction.deviceId-1].deviceIP}}</td>
                <td>{{devices[devicesFunction.deviceId-1].deviceName}}</td>
                <td>{{devicesFunction.actionLink}}</td>
                <td>{{devicesFunction.functionDescription}}</td>
                <td>{{devicesFunction.functionParameters}}</td>
                <td>{{devicesFunction.functionStatus}}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{url_for('functions_list_link_creator', id = devicesFunction.id)}}"
                            class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Link</a>
                        <a href="{{url_for('functions_list_link_creator', id = devicesFunction.id)}}"
                            class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Open</a>
                    </div>
                </td>
            </tr>
            {% endfor %}

    </table>
</div>
{% endblock %}