{% extends 'base.html' %}

{% block title %}
AquaDriver - Job Page
{% endblock %}


{% block content %}
<h1>Log file</h1>
<table id="sortingTable" class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th data-col="id" class="text-nowrap" style="width: 1%;">#</th>
            <th ata-col="log_lines">Log Entry</th>
        </tr>
    </thead>
    <tbody>
        {% for line in log_lines %}
            <tr>
                <td class="text-nowrap" style="width: 1%;">{{ loop.index }}</td>
                <td>{{ line }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}