{% extends 'base.html' %}

{% block title %}
AquaDriver - Archive Report List
{% endblock %}


{% block content %}
<h1>Archive Report List</h1>
<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseExample">
        Add Report
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST" class="form-register" style="color:white" novalidate>
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.title.label() }}
                    </td>
                    <td>
                        {{ form.title(class="form-control" , placeholder = 'title') }}
                        <small class="form-text text-danger">{{ form.title.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.querryString.label() }}
                    </td>
                    <td>
                        {{ form.querryString(class="form-control" , placeholder = 'querryString') }}
                        <small class="form-text text-danger">{{ form.querryString.errors[0] }}</small>
                    </td>
                </tr>
                                <tr>
                    <td>
                        {{ form.message.label() }}
                    </td>
                    <td>
                        {{ form.message(class="form-control" , placeholder = 'message') }}
                        <small class="form-text text-danger">{{ form.message.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.unit.label() }}
                    </td>
                    <td>
                        {{ form.unit(class="form-control" , placeholder = 'unit') }}
                        <small class="form-text text-danger">{{ form.unit.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.minValue.label() }}
                    </td>
                    <td>
                        {{ form.minValue(class="form-control" , placeholder = 'minValue') }}
                        <small class="form-text text-danger">{{ form.minValue.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.okMinValue.label() }}
                    </td>
                    <td>
                        {{ form.okMinValue(class="form-control" , placeholder = 'okMinValue') }}
                        <small class="form-text text-danger">{{ form.okMinValue.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.okMaxValue.label() }}
                    </td>
                    <td>
                        {{ form.okMaxValue(class="form-control" , placeholder = 'okMaxValue') }}
                        <small class="form-text text-danger">{{ form.okMaxValue.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.maxValue.label() }}
                    </td>
                    <td>
                        {{ form.maxValue(class="form-control" , placeholder = 'maxValue') }}
                        <small class="form-text text-danger">{{ form.maxValue.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.reportGroupId.label() }}
                    </td>
                    <td>
                        {{ form.reportGroupId(class="form-control" , placeholder = 'reportGroupId') }}
                        <small class="form-text text-danger">{{ form.reportGroupId.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-primary w-100") }}
        </form>
    </div>
</br>
</div>
<table class="table table-dark table-striped align-middle">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>message</th>
            <th>unit</th>
            <th>queryString</th>
            <th>Min Value</th>
            <th>OK Min Value</th>
            <th>OK Max Value</th>
            <th>Max Value</th>
            <th>reportGroupId</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for archiveReporRow in archiveReportList %}
        <tr>
            <td>{{archiveReporRow.id}}</td>
            <td>{{archiveReporRow.title}}</td>
            <td>{{archiveReporRow.message}}</td>
            <td>{{archiveReporRow.unit}}</td>
            <td>{{archiveReporRow.queryString}}</td>
            <td>{{archiveReporRow.minValue}}</td>
            <td>{{archiveReporRow.okMinValue}}</td>
            <td>{{archiveReporRow.okMaxValue}}</td>
            <td>{{archiveReporRow.maxValue}}</td>
            <td>{{archiveReporRow.reportGroupId}}</td>
            <td>
                <div class="btn-group">
                    <a href="{{url_for('get_report', id = archiveReporRow.id)}}"
                        class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}