{% extends 'base.html' %}

{% block title %}
archiveReportFunctionsList
{% endblock %}


{% block content %}

<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseExample">
        Add Archive Report Functions List
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST" class="form-register" style="color:white" novalidate>

            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.title.label() }}
                    </td>
                    <td>
                        {{ form.title(class="form-control" , placeholder = 'title') }}
                        <small class="form-text text-danger">{{ form.title.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.description.label() }}
                    </td>
                    <td>
                        {{ form.description(class="form-control" , placeholder = 'description') }}
                        <small class="form-text text-danger">{{ form.description.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.archiveReportIds.label() }}
                    </td>
                    <td>
                        {{ form.archiveReportIds(class="form-select" , placeholder = 'archiveReportIds') }}
                        <small class="form-text text-danger">{{ form.archiveReportIds.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.functionStatus.label() }}
                    </td>
                    <td>
                        {{ form.functionStatus(class="form-select" , placeholder = 'functionStatus') }}
                        <small class="form-text text-danger">{{ form.functionStatus.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-primary w-100") }}
        </form>

    </div>
</div>
</div>
</br>

<h1 class="h2 mb-3 font-weight-normal">Archive Report Functions List</h1>
<table class="table table-striped table-dark  table-fixed" style="width: 100%">
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>archive</br>ReportIds</th>
            <th>function</br>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for archiveFunctions in archiveFunctionsList %}
        <tr>
            <td>{{archiveFunctions.id}}</td>
            <td>{{archiveFunctions.title}}</td>
            <td>{{archiveFunctions.description}}</td>
            <td>{{archiveFunctions.archiveReportIds}}</td>
            <td>{{archiveFunctions.functionStatus}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}