{% extends 'base.html' %}

{% block title %}
Scheduler List
{% endblock %}
{% block content %}
<h1>Scheduler List</h1>
<p>
    <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse" data-bs-target="#form"
        aria-expanded="false" aria-controls="collapseExample">
        Add Scheduler
    </button>
</p>
<div class="collapse" id="form">
    <div class="card card-body">
        <form method="POST" class="form-register" style="color:white" novalidate>

            {{ form.hidden_tag() }}
            <table>
                {{ form.schedulerId(class="form-control" , placeholder = 'schedulerId:') }}
                <small class="form-text text-danger">{{ form.schedulerId.errors[0] }}</small>
                <tr>
                    <td>
                        {{ form.eventId.label() }}
                    </td>
                    <td>
                        {{ form.eventId(class="form-select" , placeholder = 'eventId:') }}
                        <small class="form-text text-danger">{{ form.eventId.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.trigger.label() }}
                    </td>
                    <td>
                        {{ form.trigger(class="form-select" , placeholder = 'trigger:') }}
                        <small class="form-text text-danger">{{ form.trigger.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.day.label() }}
                    </td>
                    <td>
                        {{ form.day(class="form-select" , placeholder = 'day:') }}
                        <small class="form-text text-danger">{{ form.day.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.day_of_week.label() }}
                    </td>
                    <td>
                        {{ form.day_of_week(class="form-select" , placeholder = 'day_of_week:') }}
                        <small class="form-text text-danger">{{ form.day_of_week.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.hour.label() }}
                    </td>
                    <td>
                        {{ form.hour(class="form-control" , placeholder = 'hour:') }}
                        <small class="form-text text-danger">{{ form.hour.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.minute.label() }}
                    </td>
                    <td>
                        {{ form.minute(class="form-control" , placeholder = 'minute:') }}
                        <small class="form-text text-danger">{{ form.minute.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.second.label() }}
                    </td>
                    <td>
                        {{ form.second(class="form-control" , placeholder = 'second:') }}
                        <small class="form-text text-danger">{{ form.second.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.schedulerStatus.label() }}
                    </td>
                    <td>
                        {{ form.schedulerStatus(class="form-select" , placeholder = 'schedulerStatus:') }}
                        <small class="form-text text-danger">{{ form.schedulerStatus.errors[0] }}</small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</div>
<table class="table table-striped table-dark" style="width: 100%">
    <tr>
        <th>#</th>
        <th>Event</br>ID</th>
        <th>Event</br>Details</th>
        <th>Scheduler</br>Trigger</th>
        <th>Scheduler</br>Id</th>
        <th>DB Trigger</br>[D-day-H:M:S]</th>
        <th>Scheduler</br>Status</th>
        <th>Action</th>
    </tr>
    {% for eventScheduler in eventSchedulerList %}
    <tr>
        <td>{{eventScheduler.id}}</td>
        <td>{{eventScheduler.eventId}}</td>
        <td>{{event[int(eventScheduler.eventId)-1].eventType}} - {{event[int(eventScheduler.eventId)-1].eventDescription}}</td>
        <td>{{eventScheduler.trigger}}</td>
        <td>{{eventScheduler.schedulerId}}</td>
        <td>[{{eventScheduler.day}}-{{eventScheduler.day_of_week}}-{{eventScheduler.hour}}:{{eventScheduler.minute}}:{{eventScheduler.second}}]</td>
        <td>{{eventScheduler.schedulerStatus}}</td>
        <td>
            <div class="btn-group">
                <a href="{{url_for('scheduler_remove', id = eventScheduler.id)}}"
                    class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Remove</a>
            </div>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}